.under-nav {
  display: flex;
  align-self: center;
}


.navBar {
  position: relative;
}

.navBar button {
  position: sticky;
  /* top: 100px; */
  cursor: pointer;
  background: transparent;
  border: none;
}

.stock-list {
  display: flex;
  flex-flow:column wrap;
  align-items: center;
  background-image: linear-gradient(to right, rgba(185,164,117,0.3), rgba(221,207,219,0.7));
}


.menuNav {
  display: flex;
  justify-content: center; 
  flex-direction: row-reverse;
  align-items: flex-end;


  position: fixed;
  top: 10;
  background-image: linear-gradient(to left, rgba(255,0,0,0), rgba(221,207,219,1));

  height: 30vh;
  width: 0;
  overflow: hidden;
}

.menuNav.showMenu {
  width: 100%;
}

a {
  padding: 10px 40px;
  text-decoration: none;
  color: #7b7b7b;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
}

a:hover {
  font-size: 1.6em;
  color: #c49d3e;
}

.menuNav li:first-child {
  margin-top: 7rem;
}


.announce-user {
  display: flex;
  align-items: flex-start;
}
