.project-title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: #debbee;
  text-shadow: 1.3px 4.5px #d4a7e9; 
  height: 95px;
  background-image: url("https://thumbs.dreamstime.com/b/aesthetic-white-background-golden-sun-face-clouds-stars-magic-tarot-card-celestial-banner-frame-astrology-bohemian-211417794.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  flex: .18;
  padding: 15px 50px;
  position: sticky;
  background-color: #f0f0f0;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.homepage-container,
.homepage-container:before,
.homepage-container:after { 

  display: flex;
  flex-flow:column wrap;
  align-items: center;
  align-content:space-between;
  justify-content: center;
  padding-top: 110px;
  color: #d5ae50;
  outline-style: solid;
  border-radius: 25px;
  padding-bottom: 110px;
}

.section {
    height: 100vh;
    width: 100%;
    position: relative;
    padding: 0;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }


/* .section-bg1 {
    background-color: rgb(234, 244, 249);
  }
  
  .section-bg2 {
    background-color: rgb(234, 244, 249);
  } */

  .main-container {
    border: 5.5px dotted #d5ae50;
    border-radius: 10px;
    width: 700px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    
  }

  h2 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    line-height: 1.2;
    text-align: center;
  }
  
  h3 {
    display: flex;
    justify-content: center;
    font-size: 25px;
    line-height: 2;
    margin: 0;
    width: 550px;

  }

  h4 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .gif-here {
    display: block;
    width:200px;
    height:200px;
    border: 3px groove #d5ae50;
    background-color: #7b7b7b;
    background-image: url(https://im4.ezgif.com/tmp/ezgif-4-97ff51b597.gif);
    background-position: center;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
  }
  
 .footer {
    font-size: 20px;
    color: #7b7b7b;
  }

  .textBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }