.signup-container{
    display: flex;
    flex-flow:column wrap;
    align-items: center;
    text-align: center;
    padding-top: 110px;
    color: #cdb0ac;
    text-shadow: 0px 1px #cdb0ac; 
    border-radius: 25px;
    padding-bottom: 140px;
    
    width: 700px;
    height: 330px;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    border: 7px dotted #d5bbbc;
  }

  .signup-button {
    border-radius: 7px;
    border: 2px groove #d9b560;
    background-color: #d9b560;
    box-shadow: 0 5px #d5bbbc;
    font-size: 20px;
    color: #f2f2f2;
    font-weight: bold;
  }

  .signup-button:hover {
    background-color: #d5bbbc;

  }

  .signup-button:active {
    background-color: #d9b560;
    box-shadow: 0 3px #d5bbbc;
    transform: translateY(4px);
  }

  .form-data {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 150px;
    gap: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  h1{
    font-size: 44px;
  }

  input {
    text-align: center;
  }

  .signup-input {
    border: 4px groove #d9b560;
    color: #7b7b7b;
    font-family: 'Shrikhand', cursive;
  }